<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home <i class="fas fa-home"></i> </a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Author <i class="fas fa-pen-nib"></i> </a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact <i class="fas fa-mobile-alt"></i> </a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/privacy-policy.html">Privacy Policy <i class="fas fa-user-secret"></i> </a>
</li>

<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.buymeacoffee.com/sadOvBb">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li>
