<span class="reading-time">
  {% assign words = content | number_of_words %}
  {% if words < 360 %}
    1 min read
  {% else %}
    {{ words | divided_by:180 }} mins read
  {% endif %}
</span>
<svg style="fill: rgba(0,0,0,0.45); margin-left: 3px; margin-top: -2px; display: inline-block;" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 24 24" data-toggle="tooltip" data-placement="top" title="" data-original-title="Updated Feb 3, 2019">>
    <path d="M12 .288l2.833 8.718h9.167l-7.417 5.389 2.833 8.718-7.416-5.388-7.417 5.388 2.833-8.718-7.416-5.389h9.167z" /></svg>
                                    </span>    
