<!-- All this area goes before </body> closing tag --> 


<!-- Call to action -->
<div class="jumbotron p-5 jumbotron-fluid bg-warning">
	<div class="container h-100">
		<div class="row justify-content-between align-items-center text-md-center text-lg-left">
			<div class="col-lg-9">
				<h5 class="font-weight-light text-dark">This is your final call to action area.<strong>Shine like a star, make them want you,</strong> tell 'em <strong><i class="fab fa-sass fa-2x"></i></strong>to push that button!</h5>
			</div>
			<div class="col-lg-3 text-md-center text-lg-right mt-4 mb-4">
				<a href="#" class="btn btn-lg btn-outline-dark">Call to action</a>
			</div>
		</div>
	</div>
</div>
